{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "jasmine": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [
      1,
      150,
      2
    ],
    "no-param-reassign": 0
  }
}
